
<div class="shared-photo-card" [ngClass]="{shared : sharedPhoto.shareButtonText ==='Unshare This'}">
    <h2>{{sharedPhoto.title | uppercase }}</h2>
    <p>Shared on {{sharedPhoto.createdAt | date:'d MMMM yyyy, HH:mm'}}</p>
    
    <img [src]="sharedPhoto.photoUrl" [alt]="sharedPhoto.title">
    <p>{{sharedPhoto.description}}</p>
    <p *ngIf="sharedPhoto.location">📍{{sharedPhoto.location}}</p>
    
    <p>
        <button (click)="onShareClick()">{{sharedPhoto.shareButtonText}}</button>
        <span [ngStyle]="{color:'rgb(0,'+sharedPhoto.shares*5+',0)'}">😍{{sharedPhoto.shares}}</span> 
    </p>
</div>
